@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    
}


.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image:-webkit-linear-gradient(
        -45deg,#405de6,#e1306c 50%,#ffdc80) !important;
        
    color: white;
    height: 50px;
}

.rightside{
    display: flex;
    align-items: center;
}
.rightside .contItem{
    font-family: 'Rubik', sans-serif;
    margin: 0 2px;
} 
.rightside .contItem i{
    margin: 0 5px;
    
}

.leftside p {
    font-family: 'Rubik', sans-serif;
    padding-left: 12px;
    font-size: 15px;
}
.socialItem ul li {
    list-style: none;
    margin: 0 5px;
    
    
}
.socialItem ul{
    display: flex;


}
.socialItem ul li a img{
    height: 2rem;
}


.bottombar .row1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.bottombar .row1 .item1 img{
    height: 6rem;
}
.bottombar .row1 .item3 img{
    height: 6rem;
}
.bottombar .row1 .item2{
    margin: 0 50px;
    
}
.bottombar .row1 .item2 .text1{
    font-family:'Rubik', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    
}
.bottombar .row1 .item2 .text2 h1{
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
.bottombar .row1 .item2 .text1 {
    text-align: center;

}

.bottombar .row2 .links ul {
    display: flex;
    list-style: none;
    font-family: 'Rubik', sans-serif;
    justify-content: center;

}
.bottombar .row2 .links ul li{
    margin: 0 12px;
    font-size: 18px;
    text-transform: uppercase;
}
.bottombar .row2 .links ul li a{
    text-decoration: none;
    color: rgb(0, 70, 150);
}

.bottombar .row2 .links ul li a:hover{
    color: red;
    
}

.bottombar .row2 .links{
    margin: 20px 0;
}

/* home section start  */

.home{
    background-image: url("image/bg3.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    height: 677px;
    width: 90%;
    margin: 40px auto;

    justify-content: center;
}


.home .heading {
    color: white;
    font-size: 50px;
    padding-top: 12px;
    margin-left: 12px;
}
.home .content{
    color: #2F387B;
    width: 450px;
    font-size: 20px;
    padding: 12px;
    margin-top: 12px;
    padding-left: 12px;
    border-radius: 0 12px 12px 0;
    background-color: rgb(212,229,245);
}


.btn {
    margin: 50px 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(236, 44, 44);
    font-family:'Rubik', sans-serif;
    font-style: oblique;
    border-radius: 12px;
    padding: 20px;
    font-size: 20px;
}
.btn:hover{
    background-color: white;
    color: rgb(236, 44, 44);
    
}


/* home section end  */